@use '../../styles/mixin' as *;
@use '../../styles/vars' as *;
@use 'include-media' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 410px;
  margin-top: 90px;
  margin-bottom: 60px;
  margin-inline: auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(105, 105, 105, 0.5);
  border-radius: 6px;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;

    img {
      width: 60px;
      height: 60px;
    }

    .title {
      font-size: clamp(30px, 3vw, 34px);
      font-weight: 500;
    }

    .text {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

    :last-child {
      margin-top: -10px;
    }

    .label {
      font-size: 16px;
      font-weight: 450;
    }

    .inputWrapper {
      position: relative;
      display: flex;
      flex-direction: column;

      .input {
        display: block;
        position: relative;
        width: 330px;
        height: 50px;
        margin-top: 4px;
        padding: 16px;
        font-size: 16px;
        font-family: inherit;
        outline: none;
        border: 1px solid $grayLight;
        border-radius: 4px;
        transition: 0.2s;

        &:focus {
          border: 1px solid $blue;
        }

        &:hover {
          border: 1px solid $blue;
          transition: 0.2s;
        }

        &.invalid {
          border-color: red;
        }
      }

      .eye {
        position: absolute;
        top: 73%;
        right: 15px;
        cursor: pointer;
        z-index: 2;

        img {
          width: 20px;
          height: 20px;
          opacity: 0.5;
        }
      }

      .error {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 14px;
        color: red;
      }
    }

    .checkboxWrapper {
      margin-bottom: 20px;

      input[type='checkbox'] {
        &:hover {
          cursor: pointer;
        }
      }

      label {
        font-size: 18px;
        font-weight: 400;
      }
    }

    .error {
      color: red;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    .top {
      img {
        width: 70px;
        height: 70pxwrapper;
      }
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    margin-top: 0;
    padding: 20px;
  }
}
