@use '../../styles/mixin' as *;
@use '../../styles/vars' as *;
@use 'include-media' as *;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.5);
  border-radius: 10px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;

    img {
      width: 80px;
      height: 80px;
    }

    .title {
      font-size: 34px;
      font-weight: 500;
    } 

    .text {
      font-size: 18px;
      font-weight: 400;
      opacity: 0.5;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

    :last-child {
      margin-top: -10px;
    }

    .label {
      font-size: 16px;
      font-weight: 450;
    }

    .inputWrapper {
      position: relative;
      display: flex;
      flex-direction: column;

      .input {
        display: block;
        position: relative;
        width: 330px;
        height: 50px;
        margin-top: 4px;
        padding: 16px;
        font-size: 16px;
        font-family: 'Roboto';
        outline: none;
        border: 1.5px solid rgb(rgb(0, 0, 0), 0.4);
        border-radius: 4px;

        &:focus {
          border: 1px solid black;
        }

        &.invalid {
          border-color: red;
        }
      }

      .eye {
        position: absolute;
        top: 73%;
        right: 15px;
        cursor: pointer;
        z-index: 2;

        img {
          width: 20px;
          height: 20px;
          opacity: 0.5;
        }
      }

      .error {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-size: 14px;
        color: red;
      }
    }

    .checkboxWrapper {
      margin-top: -10px;
    }

    .error {
      color: red;
    }
  }
}