@use '../../styles/mixin' as *;
@use '../../styles/vars' as *;
@use 'include-media' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 10px;

  .inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 350px;

    .label {
      font-size: 14px;
      font-weight: 500;
    }

    .input {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      padding: 0 10px 0 15px;
      border-radius: 4px;
      border: 1px solid $grayLight;
      font-size: 16px;
      outline: none;
      width: 100%;
      font-family: inherit;

      &::placeholder {
        color: $grayLight;
      }

      &:hover {
        border-color: $blueHover;
      }

      &:focus {
        border-color: $blue;
      }

      &:active {
        border-color: $blueActive;
      }
    }

    .error {
      font-size: 16px;
      color: red;
    }
  }

  .button {
    min-width: 200px;
    height: 40px;
    background-color: $blue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.1s;
    position: relative;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    font-family: inherit;
  }
}
