@use 'reset-css/sass/reset';
@use './fonts/font.scss';

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
