@font-face {
  font-family: 'Roboto';
  src: url('./fonts-files/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts-files/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: italic;
}
