@use '../../styles/mixin' as *;
@use '../../styles/vars' as *;
@use 'include-media' as *;

.button {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  background-color: $blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.color-blue {
    background-color: $blue;

    &:hover {
      background-color: $blueHover;
    }

    &:active {
      background-color: $blueActive;
    }

    &.disabled {
      background-color: gray;
      color: rgb(66, 65, 65);
      cursor: default;
      user-select: none;
    }
  }

  .text {
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
  }
}

.link {
  width: 120px;
  height: 20px;
  background-color: $blue;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;

  &:hover {
    background-color: $blueHover;
  }

  &:active {
    background-color: $blueActive;
  }
}
