.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  gap: 10px;

  .title {
    font-size: 100px;
    font-weight: 700;
  }

  .text {
    font-size: 40px;
    color: #666666;
  }
}
